/*-- scss:rules --*/
@import "ionrangeslider/_rules.scss";
@import "tables/_rules.scss";

$web-font-path: "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Code+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// For radioButtons()/checkboxGroupInput(), move text slightly to the right
$bslib-checkbox-radio-margin-right: 0.35em !default;
.checkbox,
.radio {
  input {
    margin-right: $bslib-checkbox-radio-margin-right;
  }
}

// Alignment fixes for radioButtons(inline=TRUE)/checkboxGroupInput(inline=TRUE)
// TODO: It would be nice to do this for all inline groups, but that would
// require updating the input markup to use <fieldset> and <legend>.
.shiny-input-container-inline {
  .shiny-options-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1em;

    .checkbox-inline, .radio-inline {
      position: relative;
      padding-left: calc(#{$form-check-input-width} + #{$bslib-checkbox-radio-margin-right} * 2);

      input {
        position: absolute;
        margin-top: 0;
        left: 0;
        top: calc(#{($line-height-base - $form-check-input-width) * .5} + #{$input-btn-border-width});
      }
    }
  }
}

// For shiny::dateRangeInput(), fix "to" width in the middle of the date picker
.shiny-date-range-input .input-daterange .input-group-addon {
  margin-right: -1px;
}

// Make the default shiny::actionButton() an outline variant, but not others
.btn-outline-default,
.btn-default:not(.btn-primary, .btn-secondary, .btn-info, .btn-success, .btn-danger, .btn-warning, .btn-light, .btn-dark, .btn-link, [class*="btn-outline-"]) {
  @include button-outline-variant($secondary);
}

// ... and make it look better in dark mode
@if $enable-dark-mode {
  @include color-mode(dark) {
    .btn-outline-default,
    .btn-default:not(.btn-primary, .btn-secondary, .btn-info, .btn-success, .btn-danger, .btn-warning, .btn-light, .btn-dark, .btn-link, [class*="btn-outline-"]) {
      @include button-outline-variant($dark-text-emphasis-dark);
    }
  }
}

// For selectizeInput(options = list(plugins = "remove_button"))
// TODO: we should probably make this the default behavior in shiny
.selectize-control.plugin-remove_button .item {
  align-items: flex-start !important;
  .remove {
    border-left: none !important;
  }
}

// Apply box shadow effect to cards
@mixin bslib-box-shadows {
  .bslib-card {
    box-shadow: $box-shadow;
    border: 0;
    .card-header, .card-footer {
      background-color: transparent;
      border: 0;
    }
    .card-header {
      font-weight: $font-weight-semibold;
      font-size: 0.9rem;
      line-height: 1.375rem;
    }
  }
}
  

// TODO: move this logic into a "core" bundle that comes with any theme
// (but you only get the shadows by default in the preset theme)
@if $bslib-enable-shadows {

  :root {
    --bslib-shiny-present-main-bg: rgba(var(--bs-emphasis-color-rgb, 0,0,0), 0.05);
  }

  .bslib-page-sidebar {
    --bslib-page-sidebar-title-color: var(--bs-body-color);
    --bslib-page-sidebar-title-bg: var(--bs-body-bg);

    > .bslib-sidebar-layout:first-of-type > .main {
      background-color: var(--bslib-shiny-present-main-bg);
      @include bslib-box-shadows;
    }
  }

  .bslib-page-navbar {
    background-color: var(--bslib-shiny-present-main-bg);

    // 1st selector is for page_navbar(sidebar = ...)
    // 2nd selector is for page_navbar(nav_panel("A", layout_sidebar()))
    > *, .tab-pane {
      > .bslib-sidebar-layout:first-of-type > .main {
        @include bslib-box-shadows;
      }
    }
  }

  .bslib-sidebar-layout.bslib-sidebar-layout {
    --bslib-sidebar-bg: var(--bs-body-bg);
  }
}

// By default, non-active .nav links reflect the primary color. This styling
// tweak brings them closer to how they'll appear in a navbar. 
.nav-underline {
  --#{$prefix}link-color: rgba(var(--bs-body-color-rgb), 0.65); 
  --#{$prefix}link-hover-color: rgba(var(--bs-body-color-rgb), 0.8);
  --#{$prefix}nav-link-font-size: 0.875rem;

  .nav-link {
    padding-left: 5px !important;
    padding-right: 5px !important;

    &.active {
      font-weight: 500;
    }
  }
}


// For value_box(), apply a gradient to the icon (by default)
$icon-classes: ("bi", "fa", "fas", "far", "fab", "material-icons") !default;
.bslib-value-box.default .value-box-showcase {
  > i {
    @each $icon-class in $icon-classes {
      &.#{$icon-class} {
        background: linear-gradient(140deg, $blue 36%, $purple 180%) $blue;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  > svg {
    @each $icon-class in $icon-classes {
      &.#{$icon-class} {
        // Requires icon-gradient.svg which is added in the value_box() dependency
        fill: url('#bslib---icon-gradient') $blue !important;
      }
    }
  }
}

// For value_box(), improve contrast of text colors
.bslib-value-box {
  $cyan: #028097; // Contrast 4.63
  $warning: #A87600; // Contrast 4 (okay for 16px+ text)

  &.text-info {
    &, &.text-cyan {
      --bslib-color-fg: $cyan !important;
    }
    color: $cyan !important;
  }

  &.text-light {
    --bslib-color-fg: $gray-600 !important;
  }

  &.text-warning {
    &, &.text-yellow {
      --bslib-color-fg: $warning !important;
    }
    color: $warning !important;
  }

  &.text-teal.text-teal {
    --bslib-color-fg: #008558; // Contrast 4.67
  }
}
