.Rproj.user
.Rhistory
.DS_Store
docs/
sandbox/
revdep/
inst/themer-demo/deploy/rsconnect
inst/examples/*/rsconnect/

node_modules/

# GHA remotes installation
.github/r-depends.rds

inst/doc

# yarn
inst/yarn.lock

inst/rmarkdown/templates/*/skeleton/skeleton.html

vignettes/articles/*/*.html
# rendered examples that appear in iframes
vignettes/**/examples
!vignettes/examples
