.Rproj.user
.Rhistory
.DS_Store
docs/
sandbox/
inst/themer-demo/deploy/rsconnect
inst/examples/*/rsconnect/

node_modules/

# GHA remotes installation
.github/r-depends.rds

inst/doc

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log


inst/rmarkdown/templates/*/skeleton/skeleton.html

vignettes/*/index.html
# rendered examples that appear in iframes
vignettes/**/examples
!vignettes/examples
