.Rproj.user
.Rhistory
.DS_Store
docs/
autocolors-demo/
inst/themer-demo/deploy/rsconnect

# GHA remotes installation
.github/r-depends.rds

inst/doc

# yarn
inst/yarn.lock

inst/rmarkdown/templates/*/skeleton/skeleton.html
