table.dataTable tr[role="row"] td {
  font-family: monospace;
}
table.dataTable tr[role="row"] td:nth-child(3) {
  font-family: inherit;
  font-size: 0.85em;
}
table.dataTable tr[role="row"] td:nth-child(4) {
  text-align: center;
}
table.dataTable tr td:nth-child(1) {
  max-width: 250px;
  overflow: scroll;
}
table.dataTable tr td:nth-child(2),
table.dataTable tr td:nth-child(3){
  max-width: 300px;
  overflow: scroll;
}
table.dataTable tr td:nth-child(4){
  width: 20px;
}
.dep-link {
  color:steelblue;
  text-decoration:underline;
  cursor: pointer;
}
.selected .dep-link {
  color: white;
}
#table-wrapper {
  position: relative;
  --table_w: min(90vw, 1300px);
  width: var(--table_w);
  margin-left: calc(50% - var(--table_w)/2);
}
@media (min-width: 992px) {
  #table-wrapper.pkgdown {
    /* This is 65% instead of 50% because of how pkgdown/bootstrap
       controls widths and the center content div is 75% of its
       container div leaving an extra 15% to take into account */
    margin-left: calc(65% - var(--table_w)/2);
  }
}
