$global-blue: #0675DD !default;

// TODO: implement these variables
// $badge-border-radius: $border-radius-sm;
// $breadcrumb-active-color: $gray-700;
// $secondary: $gray-800;
// $breadcrumb-bg: $gray-100;
// $dark: $gray-900;


$blue: #007BC2 !default;
$purple: #74149C !default;
$indigo: #4B00C1 !default;
$pink: #BF007F !default;
$red: #C10000 !default;
$orange: #f45100 !default;
$yellow: #F9B928 !default;
$green: #00891A !default;
$teal: #00BF7F !default;
$cyan: #03C7E8 !default;

$table-border-level: -11 !default;

// TODO: this is a problem for custom theming
$gray-100: #f8f8f8 !default;
$gray-600: #7c7c7c !default;
$gray-700: #606060 !default;
$gray-800: #404040 !default;
$gray-900: #202020 !default;


$font-family-sans-serif: "Open Sans", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$badge-padding-y: .5em !default;
$badge-padding-x: .75em !default;

$badge-pill-border-radius: 0.75rem !default;
$badge-pill-padding-x: .9em !default;
$card-cap-bg: null !default;
$input-btn-padding-y: .5rem !default;

$navbar-bg: $global-blue  !default;

// Make table striping light Shiny blue
$table-striped-bg: rgba($blue, 0.055) !default;
$table-hover-bg-factor: .13 !default;
$table-hover-bg: rgba($blue, $table-hover-bg-factor) !default;
$table-active-bg-factor: .5 !default;


$nav-link-padding-x: 1.1rem !default;
$form-check-padding-start: 1.4rem !default;
