$bslib-table-striped-bg: tint-color($blue, 25%) !default;
$bslib-dt-row-striped-bg: tint-color($blue, 94%) !default;
$bslib-dt-row-active-bg: $blue !default;
$table-striped-bg: $bslib-table-striped-bg !default;
