// With no Bootswatch, it makes sense to do  .navbar-default -> .navbar-light .bg-light
//                                           .navbar-inverse -> .navbar-dark  .bg-dark
// However, these extensions may be different for different Bootswatch themes
// (see _navbar_compat.scss and theme_layer_bs3compat_navbar())
$navbar-default-type: light !default;
$navbar-default-bg: light !default;
$navbar-inverse-type: dark !default;
$navbar-inverse-bg: dark !default;

// If downstream Sass hasn't set a $card-bg color (e.g., bootswatch, user code),
// then make sure well/cards appear gray by default
@if variable-exists("card-bg") {
} @else {
  $card-bg: #f8f9fa !default !global;
}
