// Restore .btn-default
$default: #dee2e6 !default;
$theme-colors: () !default;
$theme-colors: map-merge(("default": $default), $theme-colors);
// With no Bootswatch, it makes sense to do  .navbar-default -> .navbar-light .bg-light
//                                           .navbar-inverse -> .navbar-dark  .bg-dark
// However, these extensions may be different for different Bootswatch themes
// (see _navbar_compat.scss and theme_layer_bs3compat_navbar())
$navbar-default-type: light !default;
$navbar-default-bg: light !default;
$navbar-inverse-type: dark !default;
$navbar-inverse-bg: dark !default;
