// Amount intentionally matches mixture amount of shiny::inputPanel()
// https://github.com/rstudio/shiny/blob/4eeb4a1/inst/www/shared/shiny_scss/bootstrap.scss#L25
$pre-bg: mix($body-bg, $body-color, 96%) !default;
$code-bg: $pre-bg !default;
$pre-border: $border-width solid $border-color !default;

pre {
  background-color: $pre-bg;
  padding: $spacer / 2;
  border: $pre-border;
  @include border-radius($border-radius);
}

code {
  background-color: $code-bg;
  @include border-radius($border-radius);
}
