// For verbatimTextOutput()
pre.shiny-text-output {
  @extend .card;
  background-color: $well-bg;
  padding: map-get($spacers, 2);
}

// For code inside of showcase mode
pre.shiny-code {
  padding: 0.5rem;
}
