.card-footer {
  margin-top: auto;
}

.card-body-scroll {
  overflow-y: auto;
}

.bslib-card-grid {
  display: grid;
  gap: $spacer;
}

@include media-breakpoint-down(sm) {
  .bslib-card-grid {
    grid-template-columns: 1fr !important;
  }
}

.card .shiny-plot-output {
  overflow: hidden;
}

.card {
  > .card-body > {
    p, h1, h2, h3, h4, h5, h6 {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > .card-header {
    .form-group {
      margin-bottom: 0;
    }
    .selectize-control {
      margin-bottom: 0;
      // TODO: we should probably add this to selectize's SCSS since this actually makes selectInput()
      // usable with width="fit-content"
      .item {
        margin-right: 1.15rem;
      }
    }

  }
}

// Full screen card logic
// TODO: expose some variables?

.bslib-full-screen {
  position: fixed !important;
  inset: 5px !important;
  height: auto !important;
  z-index: $zindex-popover;
}

.bslib-full-screen-toggle {
  display: none;
  position: absolute;
  bottom: 1px;
  right: 3px;
  font-size: 1.25rem;
  cursor: pointer;
}

.card .card-body:hover .bslib-full-screen-toggle {
  display: block;
}
