@media (min-width: 800px) {
  .usage {
    display: flex;
    * {
      flex: 1;
    }
  }
}

p a {
  text-decoration-skip-ink: none;
  text-decoration-thickness: from-font;
}

a:focus, a:hover {
  text-decoration: underline;
}

.navbar-light .navbar-nav .active>.nav-link {
  background: #D0E5FC;
}

table.dataTable.table-bordered {
  border-collapse: collapse !important;
}

main h2 {
  margin-top: 1lh;
}

/* ---- Callouts ---- */
.callout {
  position: relative;
  border: 1px solid gray;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: var(--bs-border-radius);
}

.callout > :last-child {
  margin-bottom: 0;
}

.callout.callout-warning {
  border-color: gold
}

.callout.callout-warning > h3 {
  position: relative;
  color: #473D00;
  background-color: hsl(51 100% 94% / 1);
  margin: -1rem;
  margin-bottom: 10px;
  padding: 1rem;
  font-size: 1.5rem;
}

.callout.callout-warning > h3 > .anchor {
  display: none;
}

.callout.callout-warning > h3:before {
  /* https://icons.getbootstrap.com/icons/exclamation-diamond-fill/ */
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.25rem' height='1.25rem' fill='%23473D00' class='bi bi-exclamation-diamond-fill' viewBox='0 0 16 16'%3E%3Cpath d='M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3E%3C/svg%3E");
  margin-right: 0.5em
}
