@media (min-width: 800px) {
  .usage {
    display: flex;
    * {
      flex: 1;
    }
  }
}

p a {
  text-decoration-skip-ink: none;
  text-decoration-thickness: from-font;
}

a:focus, a:hover {
  text-decoration: underline;
}

.navbar-light .navbar-nav .active>.nav-link {
  background: #D0E5FC;
}

table.dataTable.table-bordered {
  border-collapse: collapse !important;
}
