.tab-content {
  // Workaround for pkgdown's CSS to make tab-pane all a consistent height
  // https://github.com/r-lib/pkgdown/blob/956f07/inst/BS5/assets/pkgdown.scss#L342-L355
  >.tab-pane.html-fill-container {
    display: none;
  }

  // Take precedence over Bootstrap's `display:block` rule
  >.active.html-fill-container {
    display: flex;
  }

  // Another workaround for pkgdown adding extra padding we didn't ask for
  // https://github.com/r-lib/pkgdown/blob/956f07/inst/BS5/assets/pkgdown.scss#L335-L337
  &.html-fill-container {
    padding: 0;
  }
}


.bslib-page-fill {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: $spacer;
  gap: $spacer;
}

.bslib-page-title {
  background-color: $bslib-page-title-bg;
  color: $bslib-page-title-color;
  font-size: $h4-font-size;
  font-weight: 300;
  padding: $spacer;
  padding-left: $bslib-sidebar-padding;
  margin-bottom: 0;
}

@include media-breakpoint-down(sm) {
  .bslib-page-fill {
    height: var(--bslib-page-fill-mobile-height, auto);
  }
}

// Generic utility class that we can add to things that need a margin-bottom
// in a non-flex/grid context, but can still be turned off when in a flex/grid
:root {
  --bslib-mb-spacer: $spacer;
}

.bslib-mb-spacer {
  margin-bottom: var(--bslib-mb-spacer);
}

.bslib-gap-spacing {
  gap: var(--bslib-mb-spacer);
  > .bslib-mb-spacer {
    margin-bottom: 0;
  }
}
