// Our own Sass variables that we use in our rules
$bootstrap-version: null !default; // Should always be brought in via R
$bslib-preset-name: null !default;
$bslib-preset-type: null !default;

// Bootstrap Sass defaults that we take advantage of
$enable-cssgrid: true !default;
