.card-footer {
  margin-top: auto;
}

.card-body-scroll {
  overflow-y: auto;
}

.bslib-card-grid {
  display: grid;
  gap: $spacer;
}

@include media-breakpoint-down(sm) {
  .bslib-card-grid {
    grid-template-columns: 1fr !important;
  }
}

.card .shiny-plot-output {
  overflow: hidden;
}

.card {
  > .card-body > {
    p, h1, h2, h3, h4, h5, h6 {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  > .card-header {
    .form-group {
      margin-bottom: 0;
    }
    .selectize-control {
      margin-bottom: 0;
      // TODO: we should probably add this to selectize's SCSS since this actually makes selectInput()
      // usable with width="fit-content"
      .item {
        margin-right: 1.15rem;
      }
    }

  }
}

.bslib-card-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .nav {
    margin-left: auto;
  }
}


// Full screen card logic
// TODO: expose some variables?

.bslib-full-screen {
  position: fixed;
  inset: 3.5rem 1rem 1rem;
  height: auto !important;
  width: auto !important;
  z-index: $zindex-popover;
}

.bslib-full-screen-enter {
  display: none;
  position: absolute;
  bottom: 1px;
  right: 3px;
  font-size: .8rem;
  cursor: pointer;
  opacity: .6;
  color: rgba(var(--bs-body-bg-rgb), 1);
  &:hover {
  opacity: 1;
  }
}

.card:hover:not(.bslib-full-screen) .bslib-full-screen-enter {
  display: block;
}

// card_summary() allows for a full-screen card to be embedded within a parent card
.card:hover .bslib-full-screen .bslib-full-screen-enter {
  display: none;
}


.bslib-full-screen-exit {
  position: relative;
  top: 1.35rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  float: right;
  margin-right: 2.15rem;
  align-items: center;
  color: rgba(var(--bs-body-bg-rgb), 0.8);
  &:hover {
    color: rgba(var(--bs-body-bg-rgb), 1);
  }
  svg {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
}

#bslib-full-screen-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(var(--bs-body-color-rgb), 0.6);
  z-index: $zindex-popover - 1;
}


.bslib-full-screen-exiting {
  visibility: hidden;
}
