.bslib-check-search {
  height: 200px;
  width: fit-content;
  width: -moz-fit-content;

  .form-control {
    position: sticky;
    margin-bottom: 5px;
  }

  .clear-options {
    visibility: hidden;
    text-decoration: none;
    float: right;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }

  .check-search-choices {
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding-left: 0.2rem;
  }
}
