on:
  push:
    branches: [main, rc-**]
  pull_request:
    branches: [main]
  schedule:
    - cron:  '0 5 * * 1' # every monday

name: Package checks

jobs:
  website:
    uses: rstudio/shinycoreci/.github/workflows/call-website.yaml@v1
  routine:
    uses: rstudio/shinycoreci/.github/workflows/call-routine.yaml@v1
  R-CMD-check:
    uses: rstudio/shinycoreci/.github/workflows/call-R-CMD-check.yaml@v1

  deploy:
    # if: github.repository == 'rstudio/bslib' && github.event_name == 'push'
    runs-on: ubuntu-20.04

    name: "Deploy to shinyapps.io"
    needs: [R-CMD-check]

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: rstudio/shinycoreci/.github/actions/install-r-package@v1
        with:
          r-version: "oldrel-1"
          needs: deploy
          extra-packages: |
            rsconnect

      # Install from GitHub so that rsconnect can find the package
      - name: Install bslib from GitHub
        shell: Rscript {0}
        run: |
          pak::pkg_install("rstudio/bslib", dependencies = TRUE, upgrade = TRUE)

      - name: Register account
        shell: Rscript {0}
        run: |
          rsconnect::setAccountInfo(
            name   = '${{ secrets.SHINYAPPS_NAME }}',
            token  = '${{ secrets.SHINYAPPS_TOKEN }}',
            secret = '${{ secrets.SHINYAPPS_SECRET }}'
          )

      - name: Deploy
        run: |
          Rscript 'inst/themer-demo/deploy.R'
