/* Toolbar */
.bslib-toolbar {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    /* Toolbar options */

    &[data-align="left"] {
        margin-right: auto;
        align-items: flex-start;
    }

    &[data-align="right"] {
        margin-left: auto;
        align-items: flex-end;
    }

    &[data-size="sm"] {
        font-size: 0.8rem;

        & > * {
            font-size: 0.8rem;
        }
    }

    &[data-size="md"] {
        font-size: 1rem;

        & > * {
            font-size: 1rem;
        }
    }

    &[data-size="lg"] {
        font-size: 1.25rem;

        & > * {
            font-size: 1.25rem;
        }
    }

    /* Adjustments to other elements */

    &,
    &>* {
        margin-bottom: 0 !important;
        width: auto;
    }

    >.form-group.shiny-input-container, .form-group.shiny-input-container>* {
        width: auto;
        margin-bottom: 0;
        min-width: 0;
    }

    /* Ensure card headers with toolbars use flexbox for alignment */
    .card-header:has(> &) {
        display: flex;
        align-items: center;
    }
}